<h1>New Cat</h1>
<!-- deprecated. user _form -->

<form action="<%=cats_url %>" method="post">
  <!-- < #action is the GET url %> -->
  <!-- will call the create method, because method = "Post", on /cats URL-->
  <label for="cat_name"> Cat Name</label>
  <input id="cat_name" name="cat[name]">

  <!-- <label for="cat_sex"> Sex </label> -->
  <p>
    Sex
    <br>
      Male <input type="radio" name="cat[sex]" value="M">
      Female <input type="radio" name="cat[sex]" value="F">
  </p>

  <p>
    Color
    <br>
    <select name="cat[color]">
      <option></option>
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="orange">Orange</option>
    </select>
  </p>
  <!-- 'value' is sent to server. element it shown to users -->

  <p>
    Birthdate
    <br>
      <input type="date" name="cat[birth_date]">
  </p>

  <label for="cat_description"> Description </label>
  <textarea id="cat_description" name="cat[description]"></textarea>

  <button> Submit </button>

</form>
